<h1>Đơn Xin Nghỉ</h1>
<p><strong>Họ & Tên:</strong> <%= @user.name %></p>
<p><strong>Lý do:</strong> <%= @issue.subject %></p>
<p><strong>Thời gian:</strong> <%= @leave_period_text %></p>
<% if @issue.description.present? %>
  <p><strong>Dự án & tiến độ:</strong> <%= @issue.description %></p>
<% end %>
