<div class="share-public-content">
  <h2><%= h(@issue.subject) %> (<%= h(@issue.project.name) %>)</h2>
  <p><%= simple_format(truncate(@issue.description, length: 300)) %></p>
  <p><em>(Đây là trang chia sẻ công khai chỉ hiển thị tóm tắt nội dung)</em></p>
</div>
